In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics as stats

In [5]:
!ls

Expenditure .ipynb Untitled.ipynb     diary17

In [8]:
expd171 = pd.read_csv('diary17/expd171.csv')

In [10]:
expd171.head()

,NEWID,ALLOC,COST,GIFT,PUB_FLAG,UCC,EXPNSQDY,EXPN_QDY,EXPNWKDY,EXPN_KDY,EXPNMO,EXPNMO_,EXPNYR,EXPNYR_
0,3608891,0,677.51,2,1,9000,3.0,D,6.0,D,1.0,D,2017.0,D
1,3608891,0,336.15,2,1,9000,3.0,D,6.0,D,1.0,D,2017.0,D
2,3608891,0,240.47,2,1,9000,3.0,D,6.0,D,1.0,D,2017.0,D
3,3608891,0,2.67,2,2,10210,6.0,D,2.0,D,1.0,D,2017.0,D
4,3608891,0,2.67,2,2,90110,6.0,D,2.0,D,1.0,D,2017.0,D

In [1]:
meats = {'030110':'Ground beef',
'030210':'Chuck roast',
'030310':'Round roast',
'030410':'Other roast',
'030510':'Round steak',
'030610':'Sirloin steak',
'030710':'Other steak',
'030810':'Other beef',
'040110':'Bacon',
'040210':'Pork chops',
'040310':'Ham canned',
'040410':'Other pork',
'040510':'Sausage',
'040610':'Canned ham',
'050110':'Frankfurters',
'050210':'Bologna, liverwurst, salami',
'050310':'Other lunchmeats',
'050410':'Lamb organ meats',
'050900':'Goat',
'060110':'Fresh frozen whole chicken',
'060210':'Fresh frozen chicken parts',
'060310':'Other poultry',
'070110':'Canned fish seafood',
'070230':'Fresh fish shellfish','070240':'Frozen fish shellfish',}

In [4]:
meats.values()

dict_values(['Ground beef', 'Chuck roast', 'Round roast', 'Other roast', 'Round steak', 'Sirloin steak', 'Other steak', 'Other beef', 'Bacon', 'Pork chops', 'Ham canned', 'Other pork', 'Sausage', 'Canned ham', 'Frankfurters', 'Bologna, liverwurst, salami', 'Other lunchmeats', 'Lamb organ meats', 'Goat', 'Fresh frozen whole chicken', 'Fresh frozen chicken parts', 'Other poultry', 'Canned fish seafood', 'Fresh fish shellfish', 'Frozen fish shellfish'])

In [6]:
income = {'01':'0-4,999',
'02':'5,000-9,999',
'03':'10,000-14,999',
'04':'15,000-19,999',
'05':'20,000-29,999',
'06':'30,000-39,999',
'07':'40,000-49,999',
'08':'50,000-69,999',
'09':'70,000-89,999',
'10':'90,000-119,999',
'11':'120,000 and over'}

In [8]:
income.values()

dict_values(['0-4,999', '5,000-9,999', '10,000-14,999', '15,000-19,999', '20,000-29,999', '30,000-39,999', '40,000-49,999', '50,000-69,999', '70,000-89,999', '90,000-119,999', '120,000 and over'])

In [9]:
region ={
    '1':'Northeast',
'2':'Midwest',
'3':'South',
'4':'West'
}

In [10]:
region

{'1': 'Northeast', '2': 'Midwest', '3': 'South', '4': 'West'}

In [14]:
housing = {
    '1':"Homeowner w/ Mortgage",
'2':"Homeowner w/o Mortgage ",
'3':"Homeowner-Mortgage status not reported",
'4':"Renter ",
'5':"Occupied without cash payment",
'6':"Student Housing"
}

In [15]:
housing

{'1': 'Homeowner w/ Mortgage',
 '2': 'Homeowner w/o Mortgage ',
 '3': 'Homeowner-Mortgage status not reported',
 '4': 'Renter ',
 '5': 'Occupied without cash payment',
 '6': 'Student Housing'}

In [16]:
refgen = {
    '1':'Birth year of 1928 or earlier - Greatest generation (G.I. Generation)',
'2':'Birth year from 1929 to 1945 - Silent generation',
'3':'Birth year from 1946 to 1964 - Baby boomers',
'4':'Birth year from 1965 to 1980 - also known as Generation X',
'5':'Birth year of 1981 or later.  Sometimes referred to as the Millennials',
}

In [17]:
refgen

{'1': 'Birth year of 1928 or earlier - Greatest generation (G.I. Generation)',
 '2': 'Birth year from 1929 to 1945 - Silent generation',
 '3': 'Birth year from 1946 to 1964 - Baby boomers',
 '4': 'Birth year from 1965 to 1980 - also known as Generation X',
 '5': 'Birth year of 1981 or later.  Sometimes referred to as the Millennials'}

In [19]:
marital = {
    '1':'Married',
'2':'Widowed',
'3':'Divorced',
'4':'Separated',
'5':'Never married'
}

In [20]:
marital

{'1': 'Married',
 '2': 'Widowed',
 '3': 'Divorced',
 '4': 'Separated',
 '5': 'Never married'}